<div class="box box-widget widget-user">
    <!-- extension bg image -->
    <div class="widget-user-header bg-black" style="height: 140px;padding: 0px;
            background-image: url(<%= image %>);
            background-repeat: no-repeat;
            -webkit-background-size: contain;background-size: cover;">
        <div class="sf-cover-description" style="height: 140px;opacity: 0">
            <%= description %>
        </div>
    </div>
    <div class="box-body">
        <!-- name -->
        <div class="sf-item-title"><%= name%></div>
        <div>
            <!-- tag -->
            <div class="btn-group">
                <%- include('views/partials/item-extension-tags.ejs', {tag: tag}) %>
            </div>
            <!-- userNum -->
            <div class="pull-right" style="margin-top: 3px">
                <div class="sf-item-text">
                    <div class="sf-item-price">
                        <%= price %>
                    </div>
                    评分:<%= parseFloat(rate).toFixed(2) %> (<%= userNum %>)
                </div>
            </div>
        </div>
    </div>
</div>