<div class="box box-widget widget-user">
    <!-- extension bg image -->
    <div class="widget-user-header bg-black" style="height: 140px;padding: 0px;
            background-image: url(<%= image %>);
            background-repeat: no-repeat;
            -webkit-background-size: contain;background-size: cover;">
        <div class="sf-cover-description" style="height: 140px;opacity: 0">
            <%= description %>
        </div>
    </div>
    <div class="box-body">
        <!-- name -->
        <div class="sf-item-title"><%= name%></div>
        <div>
            <!-- tag -->
            <div class="btn-group">
                <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-tags"> <%= tag ? tag.length : 0 %></i>
                </button>
                <% if(tag && tag.length > 0) { %>
                <ul class="dropdown-menu" role="menu">
                    <% for (var i = 0; i < tag.length; i++) { %>
                    <li style="position:relative">
                        <a><%= tag[i] %></a>
                        <div style="position:absolute;right:10px;top:0" class="pull-right">
                            <button type="button" class="btn btn-box-tool">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </li>
                    <% } %>
                </ul>
                <% } %>
            </div>
            <!-- userNum -->
            <div class="pull-right" style="margin-top: 3px">
                <div class="sf-item-text">
                    <div class="sf-item-price">
                        <%= price %>
                    </div>
                    评分:<%= parseFloat(rate).toFixed(2) %> (<%= userNum %>)
                </div>
            </div>
        </div>
    </div>
</div>